body{
    background: #dddddd;
}

.container{
    background: white;
    height: 100vh;
}

.geral{
    text-align: center;
    background: #f2f2f2;
    padding: 10px;
    width: 120px;
    cursor: pointer;
    margin: 0 0 20px 0;
}

.all{
    transform: rotate(0deg);
    transition: transform 0.8s;
    
    /* -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out; */
}